DATABASE_URL="postgresql://user:password@localhost:5432/indiafilings?schema=public"
NEXTAUTH_SECRET="generate-a-random-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme
